@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono|Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

.markedownWrapper {
    width:100%;
    /*background-color: pink;*/
}

.title{
    font-family: europa, sans-serif;
    color:black;
    font-size: 16pt;
    font-weight:bolder;
    /*padding-left:20%;*/
}

.description{
    font-family: europa, sans-serif;
    color:black;
    font-size: 12pt;
    font-weight:medium;
    width: 100%;
    line-height:2;
/*    padding-left:10%;*/


}
.date{
    font-family: europa, sans-serif;
    color:gray;
    font-size: 12pt;
    font-weight:bold;
}
.team{
   font-family: europa, sans-serif;
    color:gray;
    font-size: 12pt;
    font-weight:bold;
}

/*@media(max-width: 1024px){
    .title{
    font-family: masqualero, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:14pt;
    position:relative;
    text-align: center;
    margin-top:5%;
    margin-bottom:2%;
}
}*/