
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono|Roboto:300&display=swap');


.hello {
    position: relative;
    width: 100%; /* padding-left must be the same as sidebar width */
    height: 0px; /* This could be anything, content should scroll vertical */
    background: white;
    box-sizing:border-box;
    font-size: 16pt;
    line-height: auto;
    margin-bottom:100px;
}

.hello:hover {
	color:#5AC3FF;
}

.introduction {
    width: 100%; /* padding-left must be the same as sidebar width */
    height: 1px; /* This could be anything, content should scroll vertical */
    background: white;
    box-sizing:border-box;
    margin:0px;
    font-size: 12pt; 
    margin-top:100px;
    width:900px;
    line-height: auto;
    margin:center;
}

