
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url("https://use.typekit.net/vnv4usw.css");

.hello {
     /* font-family: 'Lato', sans-serif;*/
    font-family: juniper-std, sans-serif;
/*    font-family: masqualero, sans-serif;*/
    font-weight: 700;
    position: relative;
    font-size: 18pt;
    line-height: auto;
}

.introduction {
    background-color: white;
    box-sizing:border-box;
    font-size: 12pt; 
    margin-top:20px;
    margin-right: 5%;
    width:65%;
    line-height: auto;
    /*margin:center;*/
    font-weight:lighter;
    font-family: 'Lato', sans-serif;
    padding-left:14%;
  
}

.pic{
    float:right;
    margin-left:5%;
    margin-right:5%;
    background-color:pink;
    width: 400px;

}
/*ipad*/
@media(max-width: 1024px){
    .hello {
      color:black;
      background-color:none;
      padding-bottom: 5%;
      font-size: 14pt;
      font-weight: bold;

    }
    .pic {
      position:relative;
      width:40%;
      margin-left:10%;
      margin-right:0%;
      margin-top:3%;
    }
    .introduction {
        width:50%;
        font-size: 12pt;
    }
}
/*phone*/
@media(max-width: 500px){
    .hello {
      color:black;
      background-color:none;
      padding-bottom: 5%;
      font-size: 14pt;
      font-weight: bold;

    }
    .pic {
      position:relative;
      float:left;
      width:100%;
      margin-left:0%;
      margin-right:0%;
      margin-bottom: 10%;
    }
    .introduction {
        width:100%;
        font-size: 10pt;
    }
}



