
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url("https://use.typekit.net/vnv4usw.css");

.name{
  font-family: 'jaf-lapture';
  font-size:28pt;
}

.margin{
    padding-left:14%;
    padding-right:14%;
    padding-bottom: 60px;
    padding-top: 60px;
}

.introduction {
    background-color: white;
    box-sizing:border-box;
    font-size: 16px; 
    margin-top:20px;
    width:100%;
    line-height: auto;
    /*margin:center;*/
    font-weight:lighter;
    font-family: 'Lato', sans-serif;
    line-height:1.5;
}

.pic{
    width: 400px;
}
.grid{
    position: static;
    display: -ms-grid;
    display: grid;
    max-width: 1225px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
/*ipad*/
@media(max-width: 1024px){
    .hello {
      color:black;
      background-color:none;
      padding-bottom: 5%;
      font-size: 14pt;
      font-weight: bold;

    }
    .pic {
      position:relative;
      width:40%;
      margin-left:10%;
      margin-right:0%;
      margin-top:3%;
    }
    .introduction {
        width:50%;
        font-size: 12pt;
    }
}
/*phone*/
@media(max-width: 500px){
    .hello {
      color:black;
      background-color:none;
      padding-bottom: 5%;
      font-size: 14pt;
      font-weight: bold;

    }
    .pic {
      position:relative;
      float:left;
      width:100%;
      margin-left:0%;
      margin-right:0%;
      margin-bottom: 10%;
    }
    .introduction {
        width:100%;
        font-size: 10pt;
    }
}



