@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.contact { 
    position: relative;
    width: 100%;
   /* padding-left:10%;*/ /* padding-left must be the same as sidebar width */ 
    background-color:white;
    box-sizing:border-box;
    font-size: 30pt;
    line-height: auto;
    font-color:black;
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-right:15%;
    padding-top:2%;
}

.contactlink2{
    text-decoration: none;
    color:#70FFCE;
    font-size:12pt; 
}

.contactlink{
    text-decoration: none;
    color:black;
}


.contactlink:hover{
    color:#70FFCE;
}


@media(max-width: 1000px){
  .contact {
    font-size: 18pt;
    text-align: center;
    padding-top:45%;
    padding-left:0%;
    padding-right:0%;
 }
}