.intro{
    color:black;
    font-family: 'Lato', sans-serif;
    font-size:14pt;
    width:65%;
    position:relative;
/*    margin-top:3%;
    margin-left:5%;*/
    margin:auto;
    line-height:1.5;
    background-color:#F8F8F8;
    padding:8%;
    margin-bottom:5%;
    margin-top:5%;
}
  .introImage{
    width:100%;
    margin:auto;
    margin-right:5%;
    margin-bottom:10%;
    position: relative;
    /*margin-top:5%;*/
}

.section{
    font-size:24pt;
    margin-top:5%;
    text-align: center;
/*    margin-left:var(--margin);*/
    font-family: masqualero, sans-serif;
    font-weight:700;
    color:#4f4f4f;
}

.subtitle{
    font-size:16pt;
    margin-left:var(--margin);
    margin:auto;
    font-weight:bold;
    margin-top:5%;
    margin-bottom:5%;
}
.paragraph{
    color:black;
    font-family: 'Lato', sans-serif;
    font-size:14pt;
    width:50%;
    position:relative;
    margin:auto;
    margin-top:3%;
    line-height:1.5;
/*    margin-left:var(--margin);*/
}
.Himage{
    width:80%;
    margin:auto;
    position: relative;
    margin-top:8%;
}
.HimageS{
    width:40%;
    margin:auto;
    position: relative;
    margin-top:3%;
    margin-bottom:3%;
}
.HimageXS{
    width:20%;
    margin:auto;
    position: relative;
    margin-top:3%;
    margin-bottom:3%;
}
.vid {
    width:80%;
    display: block;
    margin: 0 auto;
    margin-top:5%;
    
}
