


.margin{
    padding-left:14%;
    padding-right:14%;
    padding-bottom: 4%;
}
.intro{
    color:black;
    font-family: 'Lato', sans-serif;
    font-size:14pt;
    width:65%;
    position:relative;
    margin:auto;
    line-height:1.5;
    background-color:#F8F8F8;
    padding:8%;
    margin-bottom:5%;
    margin-top:5%;

}
.intro b{
    color:#4285f4;
}
.Himage{
    width:100%;
    position: absolute;
    margin-top:60px;
    margin-bottom:60px;
/*    margin-bottom: 30px;*/
}
.laptopShape{
    margin-top: 60px;
    margin-bottom: 60px;
    width:100%;
    box-shadow: 20px 20px 60px #c5c5c5,
             -20px -20px 60px #fbfbfb;
    border-radius: 24px;
/*    border: 1px solid #555;*/
}
.HimageS{
    margin-top: 60px;
    margin-bottom: 60px;
    width:100%;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}
.callout{
    width:100%;
    margin-top:60px;
    margin-bottom:60px;

}
.box{
    grid-row: 6 / 7;
    display: flex;
/*    justify-content: center;*/
    align-items: center;
    margin-bottom: 30px;
}
.gridWrapper{
  
    padding-bottom:60px;
}
.gridSquare{
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 1fr 1fr ;
      grid-gap: 10px;
}
.gridVert{
      display: grid;
/*      grid-template-columns: 1fr 1fr ;*/
      grid-template-rows: 2fr 2fr ;
      grid-gap: 10px;
}
.grid2{
    position: static;
    display: -ms-grid;
    display: grid;
    max-width: 1225px;
    /*margin-top: 60px;*/
/*    padding-right: 14%;
    padding-left: 14%;*/
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.HimageXS{

    width:20%;
/*    position: absolute;*/
    justify-content: center;
    align-items: center;
}
.current{
    width:70%;
/*    position: absolute;*/
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 2px solid  #bd081c;;
}
.currentB{
    width:100%;
/*    position: absolute;*/
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 2px solid  #bd081c;;
}
.descImage{
    width:70%;
/*    position: absolute;*/
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.1);
}
.subtitle{
    font-size: 36px;
/*    font-weight:bold;*/
    color: #384853;
/*    text-transform: uppercase;*/
    word-spacing: 5px;
/*    margin-top:15px;*/
/*    padding-bottom:32px;*/
    margin-bottom: 20px;
    line-height: 60px;
}

.section{
    font-size:21px;
    margin-top:140px;
    line-height: 20px;
    text-align: left;
    font-family: sans-serif;
/*    font-family: masqualero, sans-serif;*/
    font-weight:700;
    color: #6b7b8a;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.descHeadline{
    margin-bottom: 20px;
    color: #6b7b8a;
    font-size: 28px;
    line-height: 53px;
    font-weight: 200;
}
.descWrapper{
    margin:auto;
    width:60%;
}
.descWrapper2{
    margin:auto;
    width:100%;
}
.descWrapper3{
    margin:auto;
    width:100%;
    padding-left:24%;
    font-size:14px;
}
.desc{

    color: #344854;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: .5px;

}
.paragraph{
    color:#344854;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    width:80%;
    position:relative;
    line-height:1.5;
    text-align: left;
 /*   margin-bottom: 60px;*/
/*    margin-top: 12px;*/
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: .5px;

}

.grid {
    position: static;
    display: -ms-grid;
    display: grid;
    max-width: 1225px;
    margin-top: 60px;
/*    padding-right: 14%;
    padding-left: 14%;*/
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 80px;
/*    grid-row-gap: 16px;*/
/*    -ms-grid-columns: 1fr 1fr;*/
    grid-template-columns: 3fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;

}

ol {
  
    padding-inline-start: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
    width:100%;
    counter-reset: item;
  
}
li{
    margin-top:10px;
    max-width: 90%;
    color:#595959;
/*    color:#bd081c;*/
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    float:left;
    padding-left: 11px;
    display: block; 
}


ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #bd081c;
    font-weight: bold;
    }

.a {
    margin-bottom: 24px;
    max-width: 1225px;
    font-size:14pt;
    color:#595959;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-top: 20px;
    list-style-type: square;

}
.list{

    font-family: 'Lato', sans-serif;
    font-size:14pt;
    max-width: 1225px;
    position:relative;
    line-height:1.5;
 /*   color:#4285f4;*/
    color: #384853;
    font-weight: bold;
    justify-content: center;
    align-items: center;
/*    margin-left:var(--margin);*/
}
.illus{
    width:100%;
    margin-top:60px;
/*    margin:auto;*/

}
.FDVid{
    width:100%;
    padding-bottom:120px;
   
}
.threeVid {
    width:70%;
    display: block;
    margin: 0 auto;
    margin-top:5%;
    
}