
.spacer{
    padding-top:60px;
}
.test {
    background-color: black;
    margin:0;
/*    border:0;*/
    padding:0;
}

.margin{
    padding-left:14%;
    padding-right:14%;
    padding-bottom: 4%;
    padding-top: 2%;
}

.margin2{
    padding-left:24%;
    padding-right:24%;
    padding-bottom: 4%;
}
.intro{
    color:black;
    font-family: 'Lato', sans-serif;
    font-size:14pt;
    width:65%;
    position:relative;
    margin:auto;
    line-height:1.5;
    background-color:#F8F8F8;
    padding:8%;
    margin-bottom:5%;
    margin-top:5%;
}
.intro b{
    color:#4285f4;
}
.colorBackground{
  /*  background-color: #0f0f0f;*/
    padding-bottom:24px;
    padding-top:12px;
}

.laptopShape{
    margin-top: 60px;
    margin-bottom: 60px;
    width:100%;
/*    box-shadow: 20px 20px 60px #c5c5c5,
             -20px -20px 60px #fbfbfb;*/
    border-radius: 24px;
/*    border: 1px solid #555;*/
}

.Himage{
    width:100%;
    position: absolute;
    margin-top:60px;
    margin-bottom:60px;
/*    margin-bottom: 30px;*/
}

.HimageM{
/*    border-radius:12px;*/
    width:100%;

}

.HimageS{
    margin-top: 60px;
    margin-bottom: 60px;
    width:100%;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}
.HimageXS{
    width:20%;
    justify-content: center;
    align-items: center;
}
.callout{
    width:100%;
    margin-top:60px;
    margin-bottom:60px;

}
.box{
    grid-row: 6 / 7;
    display: flex;
/*    justify-content: center;*/
    align-items: center;
    margin-bottom: 30px;
}
.gridWrapper{
  
    padding-bottom:60px;
}
.gridSquare{
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 1fr 1fr ;
      grid-gap: 10px;
}
.grid2{
    position: static;
    display: -ms-grid;
    display: grid;
    max-width: 1225px;
    /*margin-top: 60px;*/
/*    padding-right: 14%;
    padding-left: 14%;*/
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 20px;
    width:100%;
    margin:auto;
}

.current{
    width:70%;
/*    position: absolute;*/
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 2px solid  #bd081c;;
}
.currentB{
    width:100%;
/*    position: absolute;*/
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 2px solid  #bd081c;;
}
.descImage{
    width:90%;
/*    position: absolute;*/
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin:auto;
    margin-top: 60px;
    margin-bottom: 60px;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.1);
}
.subtitle{
    font-size: 36px;
/*    color: #384853;*/
    color:white;
    word-spacing: 5px;
    margin-bottom: 20px;
    line-height: 60px;
}


.wrap{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top:48px;
    margin-bottom:12px;
}

.header{
    font-size: 36px;
/*    color: #384853;*/
    color:white;
    word-spacing: 5px;
    margin-bottom: 20px;
    line-height: 56px;
    margin-top:60px;
}
.headerWhite{
    font-size: 36px;
    color: white;
    word-spacing: 5px;
    margin-bottom: 20px;
    line-height: 56px;
}
.name{
    font-size:16px;
/*    margin-top:24px;*/
    margin-bottom:4px;
    line-height: 20px;
    text-align: left;
    font-family: sans-serif;
    font-weight:700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    opacity: 1;
}
.role{
    font-size:15px;
    font-family: sans-serif;
    margin-bottom:24px;
    color: #cacaca;
}
.quote{
    font-size:15px;
    margin-top:24px;
    margin-bottom:24px;
    font-family: sans-serif;
    line-height: 1.4;
/*    letter-spacing: 1px;*/
/*    color: #344854;*/
    color: #cacaca;
/*    border: 2px solid #6b7b8a ;*/
    padding:16px;
    border-radius: 2px;
    background-color: #6b7b8a20;
/*    height:130px;*/

}

.section{
    font-size:18px;
    margin-top:80px;
    line-height: 20px;
    text-align: left;
    font-family: sans-serif;
    font-weight:400;
/*    color: #6b7b8a;*/
    color:white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    opacity: 1;
}
.sectionWhite{
    font-size:18px;
    margin-top:80px;
    line-height: 20px;
    text-align: left;
    font-family: sans-serif;
    font-weight:400;
    color: #cacaca;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    opacity: 1;
}
.desc{
    /*color: #344854;*/
    color: #cacaca;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: .5px;
}
.descWhite{
    color: #cacaca;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: .5px;
}
.h6{
    display: inline-block;
    width: auto;
    margin-bottom: 0px;
    opacity: 0.5;
/*    color: #6b7b8a;*/
    color:white;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.h6White{
    display: inline-block;
    width: auto;
    margin-bottom: 0px;
    opacity: 0.8;
    color: white;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.line {
    width: 100%;
    height: 2px;
    display: inline-block;
    margin-left: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: white;
    opacity: 0.3;
}


.lineWhite {
    width: 100%;
    height: 2px;
    display: inline-block;
    margin-left: 20px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: white;
    opacity: 0.6;
}

.caption{
    font-size:22px;
    line-height: 27px;
    text-align: left;
    font-family: sans-serif;
 /*   color:#344854;*/
    color:white;
    font-weight: 400;
    letter-spacing: 1.5px;

}
.subCaption{
    color:#6b7b8a;
    font-size:18px;
}

.subheader{
    font-size:21px;
    line-height: 20px;
    text-align: left;
    font-family: sans-serif;
    font-weight:700;
   /* color: #384853;*/
    color:white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.oneliner {
    font-size: 28px;
   /* color: #384853;*/
    word-spacing: 5px;
    margin-top: 60px;
    line-height: 36px;
    padding:0px 0px 24px 0px;
    color:white;
}

.descHeadline{
    margin-bottom: 20px;
   /* color: #6b7b8a;*/
    color:white;
    font-size: 28px;
    line-height: 53px;
    font-weight: 200;
}
.vidWrapper{
    margin-top:60px;
}
.descWrapper{
    margin-top:auto;
    margin-bottom:auto;
    width:75%;
}
.descWrapper2{
    margin:auto;
    width:100%;
}
.descWrapper3{
    margin:auto;
    width:100%;
    padding-left:24%;
    font-size:14px;
}
.insightTextWrapper{
   line-height: 2;
}

.paragraphWrapper{
    margin-top:60px;
    margin-bottom:60px;
}
.paragraph{
  /*  color:#344854;*/
    color: #cacaca;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    width:100%;
    position:relative;
    line-height:1.5;
    text-align: left;
    font-size: 18px;color: #cacaca;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: .5px;

}

.grid {
    position: static;
    display: -ms-grid;
    display: grid;
    max-width: 1225px;
    margin-top: 60px;
/*    padding-right: 14%;
    padding-left: 14%;*/
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 80px;
/*    grid-row-gap: 16px;*/
/*    -ms-grid-columns: 1fr 1fr;*/
    grid-template-columns: 3fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;


}

.grid3 {
    margin-top:60px;
    margin-bottom:60px;
    position: static;
    display: -ms-grid;
    display: grid;
    max-width: 1225px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;

}

.grid31 {
    margin-top:200px;
    margin-bottom:120px;
    position: static;
    display: -ms-grid;
    display: grid;
    max-width: 1225px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 56px;
    grid-template-columns: 2fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;

}
.grid13 {
    margin-top:200px;
    margin-bottom:120px;
    position: static;
    display: -ms-grid;
    display: grid;
    max-width: 1225px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: auto;
    grid-template-columns: 1fr 2fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;

}
h1{
    font-family: 'Lato', sans-serif;
    margin-top:48px;
    margin-bottom:24px;
}


ol {
    padding-inline-start: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
    width:100%;
    counter-reset: item;

}
ul{
    margin-bottom:48px;
}
li{

    margin-bottom:10px;
    margin-top: 20px;
    max-width: 100%;
/*    color: #344854;*/
    color:white;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
/*    float:left;*/
/*    padding-left: 11px;*/
  /*  display: block; */
    list-style-type: square;
}


ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    font-weight: bold;
    }

.a {
    margin-bottom: 24px;
    max-width: 1225px;
    font-size:14pt;
    color:#595959;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-top: 20px;
    list-style-type: square;

}
.list{

    font-family: 'Lato', sans-serif;
    font-size:14pt;
    max-width: 1225px;
    position:relative;
    line-height:1.5;

    /*color: #344854;*/
    color: #cacaca;
    font-weight: bold;
    justify-content: center;
    align-items: center;
/*    margin-left:var(--margin);*/
}
.illus{
    width:100%;
    margin-top:60px;
/*    margin:auto;*/

}
.FDVid{
    width:100%;
    padding-bottom:120px;
   
}
.threeVid {
    width:70%;
    display: block;
    margin: 0 auto;
    margin-top:5%;
    
}
.vidXS {
    width:20%;
    padding-top:60px;
    padding-bottom:60px;
}
.vidWrapper{
    margin-top:60px;
    margin-bottom:60px;
}
.fullVid{
    width:90%;
    display: block;
    border-radius:24px;
}
.largeVid{
    width:76%;
    display: block;
    border-radius:24px;
    margin:auto;
}
.HVid{
    width:100%;
    display: block;
    margin:auto;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.1);
}
