.margin{
    padding-left:14%;
    padding-right:14%;
}
.intro{
    color:black;
    font-family: 'Lato', sans-serif;
    font-size:14pt;
    width:65%;
    position:relative;
    margin:auto;
    line-height:1.5;
    background-color:#F8F8F8;
    padding:8%;
    margin-bottom:5%;
    margin-top:5%;

}
.intro b{
    color:#4285f4;
}
.Himage{
    width:100%;
    position: relative;
    margin-bottom: 32px;
/*    margin-bottom: 30px;*/
}
.HimageS{
    margin-top: 60px;
    margin-bottom: 60px;
    width:100%;
    box-shadow: 0 20px 20px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}
.box{
    grid-row: 6 / 7;
/*    grid-column: 9/13;*/
/*    height: 250px;*/

    display: flex;
/*    justify-content: center;*/
    align-items: center;
    margin-bottom: 30px;
}
.gridWrapper{
  
    padding-bottom:60px;
}
.grid2{
    position: static;
    display: -ms-grid;
    display: grid;
    max-width: 1225px;
    /*margin-top: 60px;*/
/*    padding-right: 14%;
    padding-left: 14%;*/
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.HimageXS{

    width:20%;
/*    position: absolute;*/
    justify-content: center;
    align-items: center;

}
.subtitle{
    font-size: 30px;
/*    font-weight:bold;*/
    color:#595959;
/*    text-transform: uppercase;*/
/*    word-spacing: 5px;*/
    padding-top:60px;
    padding-bottom:32px;
}

.section{
    font-size:24pt;
    margin-top:5%;
    text-align: left;
    font-family: sans-serif;
/*    font-family: masqualero, sans-serif;*/
    font-weight:700;
    color:#4f4f4f;
    text-transform: uppercase;
    padding:16px;
}

.paragraph{
    color:#344854;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    width:100%;
    position:relative;
    line-height:1.5;
    text-align: left;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: .5px;


}

.grid {
    position: static;
    display: -ms-grid;
    display: grid;
    max-width: 1225px;
    margin-top: 60px;
/*    padding-right: 14%;
    padding-left: 14%;*/
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 80px;
/*    grid-row-gap: 16px;*/
/*    -ms-grid-columns: 1fr 1fr;*/
    grid-template-columns: 3fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;

}
.a {
    margin-bottom: 24px;
    max-width: 1225px;
    font-size:14pt;
    color:#595959;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: .5px;
    margin-top: 20px;
    list-style-type: square;

}
.list{

    font-family: 'Lato', sans-serif;
    font-size:14pt;
    max-width: 1225px;
    position:relative;
    line-height:1.5;
 /*   color:#4285f4;*/
    color: #384853;
    font-weight: bold;
    justify-content: center;
    align-items: center;
/*    margin-left:var(--margin);*/
}
.illus{
    width:90%;
    margin-top:60px;
/*    margin:auto;*/

}