.margin{
    padding-left:14%;
    padding-right:14%;
    padding-bottom: 4%;
}
.wrapper{
    width:100%;
    /*background-color:pink;*/
}
.grid2{
    position: static;
    display: -ms-grid;
    display: grid;
    max-width: 1225px;
    /*margin-top: 60px;*/
/*    padding-right: 14%;
    padding-left: 14%;*/
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}
.descHeadline{
    margin-bottom: 20px;
    color: #6b7b8a;
    font-size: 28px;
    line-height: 53px;
    font-weight: 200;
}
.descWrapper{
    margin:auto;
    width:60%;
}
.desc{
    color: #344854;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: .5px;
}
.intro{
   color:black;
    font-family: 'Lato', sans-serif;
    font-size:14pt;
    width:65%;
    position:relative;
    margin:auto;
    line-height:1.5;
    background-color:#F8F8F8;
    padding:8%;
    margin-bottom:5%;
    margin-top:5%;
}
.intro a{
    text-decoration: none;
    color:blue;
    font-weight:bold;

}

.subtitle{
    font-size: 36px;
    color: #384853;
    word-spacing: 5px;
    margin-bottom: 20px;
    line-height: 60px;
}

.section{
    font-size:21px;
    margin-top:140px;
    line-height: 20px;
    text-align: left;
    font-family: sans-serif;
    font-weight:700;
    color: #6b7b8a;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.paragraph{
    color:#344854;
    font-family: 'Lato', sans-serif;
    font-size:16px;
    width:80%;
    position:relative;
    line-height:1.5;
    text-align: left;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: .5px;


}
.paragraph a{
    text-decoration: none;
    color:blue;
    font-weight:bold;
}

.Himage{
    width:100%;
    margin:auto;
    position: relative;
    margin-top:8%;
}
.HimageS{
    width:50%;
    margin:auto;
    position: relative;
    margin-top:3%;
    margin-bottom:3%;
}
.HimageXS{
    width:40%;
    margin:auto;
    position: relative;
/*    margin-top:3%;*/
    margin-bottom:3%;
}
.FDVid{
    display:block;
    width:60%;
    margin:auto;
}