@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.trial{
  float:left;
  font-size:10px;
  color:gray;
}
.wrapper {

  height: 100%;
  width:90%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(6, min-content);
  grid-auto-flow: row;
  line-height: 0px;

 
}
.subwrapper{
	margin-bottom: 0px;
	vertical-align: bottom;
	display:block;
	float:left;
	clear: both;
	overflow:auto;

}

.intro p {
color: black;
font-weight:bold;
font-family: 'Lato', sans-serif;
}

.intro {
color: black;
padding-bottom: 10%;
font-weight: lighter;
font-family: 'Lato', sans-serif;
}

.mark {
  background-color:#70FFCE;
}



