@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url("https://use.typekit.net/tbu4cqd.css");
@import url("https://use.typekit.net/lsk0fkh.css");

 
/*for subcategories*/
.hero{
  position: fixed;
  padding-top:120px;
  width: 100vw;
  height: 150vh;
  padding-bottom: 1000px;
  overflow: "hidden";

}

.title{
  font-family: 'Lato', sans-serif;
  color: #384853;
  text-transform: uppercase;
  font-weight:bold;
/*  padding-left:10%;*/
  font-size:14pt;
  
}
.name{
  font-family: 'jaf-lapture';
  text-align:center;
  margin:auto;
  font-size:42pt;
  width:100%;
/*  padding-top: 13%;*/
  padding-bottom: 60px;
  z-index: 10;
}


.intro {
  font-weight: lighter;
  font-family: 'jaf-lapture';
  position:relative;
/*  top: 480%;*/
/*  left:32%;*/
  font-size:16pt;
/*  width:80%;*/
  line-height: 2;
  text-align:center;
  margin:auto;

}
.introSnipet {
  color: black;
  font-weight: lighter;
  font-family: 'jaf-lapture';
  position:relative;
/*  top: 480%;*/
/*  left:32%;*/
  font-size:12pt;
  width:100%;
  line-height: 2;
  text-align:center;
  margin-top:24px;
}

.contact{
    line-height: 2;
/*    top: 660%;*/
/*    left:37%;*/
  margin-top:60px;
  position:relative;
  width:100%;
  line-height: 2;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size:14pt;
/*    position: absolute;*/

}

.contact a{
  letter-spacing: 1px;
  padding:40px;
  text-decoration: none;
}

.contact a:hover {
  color:#6b7b8a;
}


.gridWrapper2 {
  padding-top:5%;
  height: 100%;
  width:80%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(6, min-content);
  grid-auto-flow: row;
  line-height: 10px;
  margin:auto;

  grid-column: 3 / span 2;
  grid-row: third-line / 4;
/*  background-color:green;*/
}

.gridWrapper {
/*  background-color:blue;*/
/*  box-shadow: 0 20px 20px 0 rgba(0,0,0,.03);*/
  padding-top:580px;
  height: 100%;
  width:80%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(6, min-content);
  grid-auto-flow: row;
  line-height: 10px;
  margin:auto;

  grid-column: 3 / span 2;
  grid-row: third-line / 4;
/*  background-color:green;*/
}
.squareWrapper{

  vertical-align: bottom;
  display:block;
  float:left;
  clear: both;
  overflow:auto;
  position: relative;
  border-radius: 10px;
/*  transition: all 1s ease-in;
  transition: all 0.2s ease-out;*/
  transition: all .2s cubic-bezier(.25,.46,.45,.94);
  box-shadow: 0 20px 20px 0 rgba(0,0,0,.03);
  
}
.squareWrapper:hover{
/*   box-shadow: 10px 10px 30px #C8C8C8;*/

  box-shadow: 0 20px 20px 0 rgba(0,0,0,.07);
  transform: translate(0px, -20px);
/*  background-color: black;*/

}

/*ipad*/
@media(max-width: 1024px){
.gridWrapper {
  grid-template-columns: repeat(2, 50%);
  width:100%;
 }
 .intro{
  font-size:14pt;
  margin-top:14%;
 }
}

/*phone*/
@media(max-width: 500px){
.gridWrapper {
  grid-template-columns: repeat(1, 100%);
  width:100%;
 }
 .intro{
  font-size:10pt;
  margin-top:14%;
 }
}



.intro p {
color: black;
font-weight:bold;
font-family: 'Lato', sans-serif;

}



.mark {
  /*background-color:#70FFCE;*/
  font-weight: 1000;
}




