@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.trial{
  float:left;
  font-size:10px;
  color:gray;
}

.indexContainer{
/*  background-color:pink;*/
}

.gridWrapper {
  height: 100%;
  width:90%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(6, min-content);
  grid-auto-flow: row;
  line-height: 0px;
/*  background-color:green;*/
}

@media(max-width: 800px){
.gridWrapper {
  grid-template-columns: repeat(1, 100%);
  width:100%;
 }
 .intro{
  font-size:10pt;
  margin-top:14%;
 }
}

.squareWrapper{
	margin-bottom: 0px;
	vertical-align: bottom;
	display:block;
	float:left;
	clear: both;
	overflow:auto;
/*  background-color: blue;*/

}

.intro p {
color: black;
font-weight:bold;
font-family: 'Lato', sans-serif;
}

.intro {
color: black;
padding-bottom: 10%;
font-weight: lighter;
font-family: 'Lato', sans-serif;
}

.mark {
  background-color:#70FFCE;
}




