@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.wrapper {

  height:10%;
  width:100%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(2, min-content);
  grid-auto-flow: row;
  margin:auto;
 
 
}
.subwrapper{
  margin-bottom: 0px;
  vertical-align: bottom;
  display:block;
  float:left;
  clear: both;
  overflow:auto;

}

.intro p {
color: black;
font-weight:bold;
font-family: 'Lato', sans-serif;
}

.intro {
color: black;
padding-bottom: 10%;
font-weight: lighter;
}

/*ipad*/
@media(max-width: 1024px){
.gridWrapper {
  grid-template-columns: repeat(2, 50%);
  width:100%;
 }
 .intro{
  font-size:18pt;
  padding-left:10%;
 }
}

/*phone*/
@media(max-width: 500px){
  .wrapper {
  grid-template-columns: repeat(1, 100%);
  width:100%;
 }
  .intro{
  font-size:12pt;
  padding-left:0%;
 }
}