@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.gridWrapper {
  height:20%;
  width:90%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(2, min-content);
  grid-auto-flow: row;
  margin:auto;
  grid-gap: 20px;
 
}
.squareWrapper{
/*    margin-right:50px;*/
  margin-bottom: 0px;
  vertical-align: bottom;
  display:block;
  float:left;
  clear: both;
  overflow:auto;
  position: relative;
  top: 0;
/*  border-radius: 15px;*/
/*  transition: top ease 0.5s;*/
  transition: all .2s ease-in-out;
}

.squareWrapper:hover{
   box-shadow: 10px 10px 30px #C8C8C8;
   top: -10px;
}

.intro p {
color: black;
font-weight:bold;
font-family: 'Lato', sans-serif;
}

.intro {
color: black;
padding-bottom: 10%;
font-weight: lighter;
}


.wrapper:hover .image {
  color:rgb(0,0,0);opacity:0.8;
/*  opacity: 0.3;*/
}

.wrapper:hover .middle {
  opacity: 1;
}

/*ipad*/
@media(max-width: 1024px){
.gridWrapper {
  grid-template-columns: repeat(2, 50%);
  width:100%;
 }
 .intro{
  font-size:18pt;
  padding-left:10%;
 }
}

/*phone*/
@media(max-width: 500px){
  .wrapper {
  grid-template-columns: repeat(1, 100%);
  width:100%;
 }
  .intro{
  font-size:12pt;
  padding-left:0%;
 }
}