@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.wrapper {
  height:10%;
  width:80%;
  display: grid;
  grid-gap: 3%;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, min-content);
  grid-auto-flow: row;
  margin:auto;
 
}
.subwrapper{
/*    margin-right:50px;*/
    vertical-align: bottom;
    display:block;
    float:right;
    clear: both;
    overflow:auto;
}

.intro p {
color: black;
font-weight:bold;
font-family: 'Lato', sans-serif;
}

.intro {
color: black;
padding-bottom: 10%;
font-weight: lighter;
}

@media(max-width: 800px){
  .wrapper {
  grid-template-columns: repeat(1, 100%);
  width:100%;
 }
}