@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url("https://use.typekit.net/eii1uqx.css");

:root{
    --pageColor:#3fa6ff;
    --margin:5%;
    --smallerText:20pt;
}

.title{
    font-family: jaf-lapture, sans-serif;
    font-weight: 600;
    font-size:32pt;
    position:relative;
/*    margin-left:17%;*/
    margin-top:5%;
    margin-bottom:2%;
    color:#384853;
    padding-left:14%;
}
.section{
    font-weight: bold;
    color:black;
}

.table{
    color:#344854;
    font-family: europa, sans-serif;
/*    text-align: center;*/
    font-size:14pt;
/*    margin-left:17%;*/
    position:relative;
/*    padding:14%;*/
    text-align: left;
    float:right;
    top:-10%;
    width:40%;
    border-spacing: 20px;
/*    padding-right:14%;*/
}
.paragraph{
    color:#344854;

    font-family: europa, sans-serif;
/*    text-align: center;*/
    font-size:18px;
    line-height: 28px;
    letter-spacing: .5px;
/*    margin-left:17%;*/
    position:relative;
    padding-left:14%;
    text-align: left;
    width:40%;
}
.introImage{
    width:100%;
    margin:auto;
 
    position: relative;
    /*margin-top:5%;*/
}
.oneliner{
    font-family: europa, sans-serif;
    color:#6b7b8a;
    font-size: 25px;
    position:relative;
    font-style:italic;
    margin-bottom:3%;
    margin-top:3%;
    padding-left:14%;
    letter-spacing: .5px;
}

@media(max-width: 1024px){
    .oneliner {
        font-size:12pt;
    }
    .info{
        font-size:12pt;
    }
}