@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono|Roboto:300&display=swap');

.copyright{
    color:gray;
    font-size:12px;
    font-family: 'Roboto Mono', monospace;
    float:bottom;
    position:bottom;
  /* padding-top must be the same as header height */

}

.ElenaBremner {
    font-family: 'Roboto Mono', monospace;
    color:#6E6E6E;
    font-style:bold;
    /*font-weight: bold #6E6E6E ;*/
    padding-left:0%;
    padding-top:0%;
    padding-bottom:20%;
    font-size:13pt;
    line-height: 1.3;

}
.sidebar {
    font-family: 'Roboto Mono', monospace;
    padding-top:0%; /* padding-top must be the same as header height */
    padding-left:2%;
    width:15%;
    height:100%;
    background-color:white;
    box-sizing:border-box;
    position: fixed;
    z-index:99;
    font-size:12pt;
   line-height: 2;
}

.work {
    font-family: 'Roboto Mono', monospace;
    font-size:12pt;
    position: fixed;
     box-sizing:border-box;
     z-index:99;
     color:pink;
}
.UX{
    font-family: 'Roboto Mono', monospace;
    font-size:9pt;
    display:none;
    margin-left:12px;
}
.CAD{
    font-family: 'Roboto Mono', monospace;
    font-size:9pt;
    display:none;
    margin-left:12px;
}

.sidebar:hover .UX{
    display:block;
}
.sidebar:hover .CAD{
    display:block;
}


.container {
    padding: 25px;
    margin: 0px;
}

.maincontent {
    font-family: 'Roboto Mono', monospace;
    position: relative;
    width: 100%;
    padding-left:16%; /* padding-left must be the same as sidebar width */
    height: 0px; /* This could be anything, content should scroll vertical */
    background-color: white;
    box-sizing:border-box;
    padding-top: 5%;
}

#text span {
  display:none;

}
#text span:target {
  display:block;

}
#icons{
    text-decoration: none;
   color:blue;
}