

.ElenaBremner{
    font-family: juniper-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45pt;
    width:100%;
    line-height: 100%;
/*    color:pink;*/
/*    position:absolute;*/
    padding-left:0%;
   /* margin-top:5%;*/
    
}
.work {
    font-family: 'Lato', sans-serif;
    font-size:14pt;
/*    font-family: masqualero, sans-serif;
    font-size:16pt;*/
    position: sticky;
    box-sizing:border-box;
    z-index:99;
    color:pink;
    margin-top:20%;
/*    font-color:pink;*/

}

.optionalWork{
    font-family: 'Lato', sans-serif;
    font-size:9pt;
    display:none;
    margin-left:12px;

}

.work:hover .optionalWork{
    display:block;
    right:0%;
}

@media(max-width: 1024px){
    .ElenaBremner {
    display:none;
    width:75%;
     }
    .optionalWork{
    font-family: 'Lato', sans-serif;
    font-size:9pt;
    display:block;
    margin-left:12px;
}
 }